{% extends 'index.html' %}

{%  block content %}

{% if page == 'login' %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text", name="username", placeholder="Enter username">

            <label for="password">Password:</label>
            <input type="password", name="password", placeholder="Enter password">
            
            <input type="submit" name="login" value="Login">
        </form>
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </div>
    {% else %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            
             {{user_form.as_p}}
             <h5>Add account information</h5>
             {{account_form.as_p}}
            <input type="submit" name="login" value="Register">
        </form>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {%endif%}
{% endblock %}