<!-- Side menu start -->
<div class="show-side-menu">
    <a href=""><i class="fas fa-bars col-3" id="show-menu"></i></a>
</div>

<div class="side-menu col-2" id="side-menu">
    <div class="row">
        <div class="col-10">
            <p>Dashboard</p>
        </div>
        <div class="col-2">
            <a href="" id="hide-menu"><i class="fas fa-bars col-3"></i></a>
        </div>
         
    </div>

    <div class="menu-options">
        <ul>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Your plan</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="{% url 'ai-chat' %}">Query</a></li>
        </ul>

    </div>

</div> <!--Side menu end-->