{% extends 'index.html' %}
{% load static %}
{% block content %}

<main class="container row">
    
     {% include 'vfa/menu_component.html' %}

    <!-- Main content start -->
    <div class="main-content col-10">
           
            <div class="user-info">
                <img src="{% static 'images/user.png' %}" alt="Avatar">
                <p>{{user.username}}</p>
            </div>
        
        
        <div class="row summary-container">
            <div class="col-sm-5 graph">
                <h4>Account Summary Chart</h4>
                <img src="{% static 'images/graph.png' %}" alt="">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 balance">
                <h4>User Account information</h4>
                <p>Your Balance is: <span>${{account.balance}}</span></p>
            </div>
        </div>
         <div class="transactions">
             <h4 class="lead">Recent Transactions</h4>
             <table>
                 <thead>
                     <tr>
                         <th>Date</th>
                         <th>Type</th>
                         <th>Amount</th>
                         <th>Reason</th>
                     </tr>
                 </thead>
                 
                 <tbody>
                     <tr>
                         <td>2020-03-24</td>
                         <td>Withdraw</td>
                         <td>-200</td>
                         <td>Payment</td>
                     </tr>
                     <tr>
                        <td>2020-03-24</td>
                        <td>Withdraw</td>
                        <td>-200</td>
                        <td>Payment</td>
                    </tr>
                    <tr>
                        <td>2020-03-24</td>
                        <td>Withdraw</td>
                        <td>-200</td>
                        <td>Payment</td>
                    </tr>
                    <tr>
                        <td>2020-03-24</td>
                        <td>Withdraw</td>
                        <td>-200</td>
                        <td>Payment</td>
                    </tr>
                    
                 </tbody>
                 
             </table>
         </div>
         
    </div>
     
</main>


{% endblock %}